@font-face {
  font-family: "gibson";
  src: url("../assets/fonts/Gibson-BoldItalic.ttf");
  src: url("../assets/fonts/gibson-bold.ttf");
  src: url("../assets/fonts/Gibson-Regular.ttf");
  src: url("../assets/fonts/Gibson-RegularItalic.ttf");
}
