@import "../../../styles/mixins";
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  :global {
    .MuiButton-containedSizeSmall {
      height: 62px;
      border-radius: 100px;
      @include mobile {
        height: 50px;
      }
    }
  }
  .inputForm {
    margin-bottom: 32px;
    width: 440px;
    @include mobile {
      width: 100%;
    }
    :global {
      .MuiFilledInput-root {
        width: 100%;
        background-color: transparent;
        padding: 0px;
      }
      .MuiFilledInput-input {
        padding: 8px 0px;
      }
      .MuiInputBase-input {
        padding: 3px 0px;
      }
      .MuiInputLabel-shrink {
        transform: translate(0, 1.5px) scale(0.75) !important;
      }
      .MuiInputLabel-formControl {
        transform: translate(0, 0) scale(1);
      }
    }
    .inputError {
      margin: 0;
      color: red;
      font-weight: 250;
      font-size: 14px;
      line-height: 14px;
      padding-top: 7px;
    }
    .passwordLength {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-top: 10px;
      .weak,
      .normal,
      .strong,
      .default {
        width: 100%;
        .line {
          height: 6px;
        }
        span {
          font-size: 14px;
          line-height: 18px;
        }
      }
      .default {
        .line {
          background: #bbbbbb;
        }
      }
      .weak {
        .line {
          background: #e10a0a;
        }
      }
      .normal {
        .line {
          background: #e18b0a;
        }
      }
      .strong {
        text-align: right;
        .line {
          background: #0c9434;
        }
      }
    }
  }

  .btnSingUp {
    margin-top: 18px !important;
    margin-bottom: 50px !important;
  }

  .textSignUp {
    color: var(--main-blue);
    cursor: pointer;
  }
}
