body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "gibson";
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

button:focus {
  box-shadow: none;
  outline: none;
}

:root {
  --main-blue: #3fbce9;
  --background-color: #ffffff;
  --color-gradient: linear-gradient(142.72deg, #f3e8ff 5.19%, #7afbfd 101.68%);
  --text-blue: #0a208f;
  --text-blue-light: #051c42;
  --text-gray-color: #676767;
  --border-blue-color: #051c42;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiTooltip-arrow {
  color: #7afbfd !important;
  /* left: 30px !important; */
}

/* .MuiTooltip-popper {
  transform: translate3d(118px, 664px, 0px) !important;
} */
